<table class="table table-dark">
    <thead>
        <tr>
            <th> </th>
            <th>Nombre</th>
            <th>Genero</th>
            <th>Director</th>
            <th>Duración</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><img [src]="movie.imagen" [alt]="movie.nombre"></th>
            <td>{{movie.nombre}}</td>
            <td>{{movie.genero}}</td>
            <td>{{movie.director}}</td>
            <td>{{movie.duracion}}</td>
        </tr>
        <tr>
            <th><img src="" alt=""></th>
            <td>Lo que el viento se llevo</td>
            <td>Drama</td>
            <td>Papeloni</td>
            <td>2 hs</td>
        </tr>
        <tr>
            <th><img src="" alt=""></th>
            <td>Hombres de Honor</td>
            <td>Drama</td>
            <td>Zaraza</td>
            <td>2 hs 43 min</td>
        </tr>
    </tbody>
</table>